apiVersion: apps/v1
kind: Deployment
metadata:
  name: docunexus-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: vikasgautam2003/docunexus-api:latest
        envFrom:
        - secretRef:
            name: docunexus-secrets
        ports:
        - containerPort: 8000

---
apiVersion: v1
kind: Service
metadata:
  name: docunexus-lb
spec:
  type: LoadBalancer
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: docunexus-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: vikasgautam2003/docunexus-api:latest
        command: ["celery", "-A", "app.core.celery_app", "worker", "--loglevel=info"]
        envFrom:
        - secretRef:
            name: docunexus-secrets
